@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

.logo-container {
  width: 199px;
  padding-left: 26px;
}

.social-wrapper {
  border-top: solid 3px;
    margin: 0 14px;
}

ul.social-nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.social-nav li {
  display: inline-block;
  font-size: 30px;
}
